body{
    font-family: Arial;
    width:220px;
    margin:0;
    padding:10px;
    background:#f5f7fb;
}

.container{
    text-align:center;
}

h2{
    margin-bottom:15px;
    font-size:18px;
}

button{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    border-radius:8px;
    font-size:14px;
    cursor:pointer;
}

#fillAll{
    background:#28a745;
    color:white;
}

#fillRequired{
    background:#007bff;
    color:white;
}